<% if resource.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <ul>
          <p>В форме <%= resource.errors.count %> <%= translate :errors, count: resource.errors.count%> </p>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
  <% end %>
