<h2>События</h2>

<div class="buffer-both">
  <%= link_to 'Создать событие', new_event_path, class: 'btn btn-primary' %>
</div>

<div class="row buffer-bottom">
  <%# Рендерим сразу массив событий, каждый в паршиале 'events/event' %>
  <%= render partial: 'events/event', collection: @events %>
</div>
