<h2><%= t('event.many') %></h2>

<div class="buffer-both">
  <%= link_to t('event.make'), new_event_path, class: 'btn btn-primary', data: { turbo: false } %>
</div>

<div class="row buffer-bottom">
  <%= render partial: 'events/event', collection: @events %>
</div>
