<%# Паршал для вывода отдельной фотографии %>
  <a href="<%= photo.photo.url %>" data-lightbox="set"
      data-title='<%= render partial: 'users/user', object: photo.user %>
        <%= button_to(
            bi_icon('trash'),
            event_photo_path(photo.event, photo),
            method: :delete,
            class: 'btn btn-link p-0',
            form_class: 'd-inline'
        ) if current_user_can_edit?(photo) %>' >
    <%= image_tag(photo.photo.variant(resize_to_fit: [200, 200]).processed, class: 'img-fluid mb-2') %></a>
